* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	width: 90%;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
}
header .hedline {
	font-size: 32px;
}
nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.nav-list {
	text-align: center;
	padding: 15px 0;
	margin: 0 auto;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px
}
.main-visual {
	margin: 0 auto;
	height: 650px;
	width: 800px;
}
.main-visual-content {
	margin: 0 auto;
	height: 600px;
	width: 800px;
	margin: 50px 0;
}
.main-visual-content-green {
	height: 200px;
	width: 800px;
}
.main-visual-content-green-1 {
	height: 200px;
	width: 200px;
	background-color: #ccff99;
	float: left;
}
.main-visual-content-green-2 {
	height: 200px;
	width: 200px;
	background-color: #99ff99;
	float: left;
}
.main-visual-content-green-3 {
	height: 200px;
	width: 200px;
	background-color: #66ff99;
	float: left;
}
.main-visual-content-green-4 {
	height: 200px;
	width: 200px;
	background-color: #33ff99;
	float: left;
}
.main-visual-content-yellow {
	height: 200px;
	width: 800px;
}
.main-visual-content-yellow-1 {
	height: 200px;
	width: 200px;
	background-color: #ffffcc;
	float: left;
}
.main-visual-content-yellow-2 {
	height: 200px;
	width:  200px;
	background-color: #ffff99;
	float: left;
}
.main-visual-content-yellow-3 {
	height: 200px;
	width: 200px;
	background-color: #ffff66;
	float: left;
}
.main-visual-content-yellow-4 {
	height: 200px;
	width: 200px;
	background-color: #ffff33;
	float: left;
}
.main-visual-content-blue {
	height: 200px;
	width: 800px;
}
.main-visual-content-blue-1 {
	height: 200px;
	width: 200px;
	background-color: #bad3ff;
	float: left;
}
.main-visual-content-blue-2 {
	height: 200px;
	width: 200px;
	background-color: #a4c6ff;
	float: left;
}
.main-visual-content-blue-3 {
	height: 200px;
	width: 200px;
	background-color: #8eb8ff;
	float: left;
}
.main-visual-content-blue-4 {
	height: 200px;
	width: 200px;
	background-color: #75a9ff;
	float: left;
}
footer {
	width: 100%;
	height: 120px;
	text-align: center;
	background-color: #aaaaaa;
}
.footer-text {
	line-height: 120px;
}